.top{
  height:60px;
  background-color:#1E3269;
  color:white;
  position:fixed;
  top:0;
  width:100%;
  text-align:center;
  padding-left: 50;
}
a{
  color: white;
  text-decoration: none;
}
.container{
  margin-top:90px;
  display : flex;
  flex-direction:column;
  border:2px solid black;
  width:70%;
  margin-left: 15%;
  text-align: center;
}
.content{
  display:flex;
}
.container a{
  border:1px solid black;
  color : white;
  height:100px;
}
.content main{
  border:1px solid black;
}
.content table{
  margin:auto;
  text-align: center;
}
.content table, td{
  border-collapse: collapse;
}
.content aside{
  display:flex;
  flex-direction:column;
  position:fixed;
  right:130px;
  height:500px;
}
.content aside a{
  border:1px solid black;
  color:white;
  margin:1px;
}
.bottom footer{
  margin-right:300px;
  margin-left:300px
}
.info a{
  /*padding:10px 0px;*/
  display:flex;
  flex-direction:column;
  border:1px solid olive;
  background-color:olive;
  color:white;
  height: 50px;
  width:70%;
  margin:10px 0px;

  /*text-align:justify;*/
}
