.top{
  height:57px;
  background-color:#1E3269;
  color:white;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  text-align:center;
}
.top a{
  color: white;
  text-decoration: none;
}
.container{
  margin-top:90px;
  display : flex;
  flex-direction:column;
  width:70%;
  margin-left: 15%;
  text-align: center;
}
.content{
  display:flex;
}
.container a{
  color : white;
  height:100px;
}
.content table{
  margin:auto;
  text-align: center;
}
.content table, td{
  border-collapse: collapse;
}
.content aside{
  display:flex;
  flex-direction:column;
  position:fixed;
  right:10%;
  height:400px;
}
.content aside a{
  color:white;
  margin:1px;
}
.info{
  margin-left: 15%;
  margin-right: 15%;
}
.info a{
  /*padding:10px 0px;*/
  display:flex;
  flex-direction:column;
  border:1px solid olive;
  background-color:olive;
  color:white;
  height: 50px;
  width:100%;
  margin:10px 0px;
}

.bottom footer{
  margin-right:15%;
  margin-left:15%;
}
